.pride {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.pride__box {
    width: 100%;
    border-top: 1px solid #141414;
    padding-left: 2vw;
    margin-bottom: -2vw;
    background-color: #fff;
    position: relative;
}
.pride__text {
    font-size: 4vw;
    text-transform: uppercase;
    pointer-events: none;
    font-family: "Roslindale";
}
.pride__image {
    position: absolute;
    right: 2vw;
    top: 0;
    height: 5vw;
}
.hidden {
    opacity: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
